/**
 * Homepage slideshow.
 */
.view-slideshow-blocks {}
.view-slideshow-blocks .slide {
  height: 544px;
  position: relative;
  width: 940px;
}
.view-slideshow-blocks .slide .slide_content {
  background: #464444;
  color:#fff;
  padding: 15px 30px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 880px;
}
.view-slideshow-blocks .slide .slide_content .slide-title {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}
.view-slideshow-blocks .slide .slide_content .slide-text {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}
.views-slideshow-pager-fields {
  background: url('../images/slide_controls.png') 0 0 no-repeat;
  height: 49px;
  margin: -26px auto 0 auto;
  padding: 10px 0 0 0;
  position: relative;
  text-align: center;
  width: 220px;
  z-index: 999;
}
.views-slideshow-pager-fields * {
  display: inline;
}
.views-slideshow-pager-fields .dot {
  background: url('../images/dots.png') -31px 0 no-repeat;
  cursor: pointer;
  height: 32px;
  display: inline-block;
  width: 31px;
}
.views-slideshow-pager-fields .dot:hover,
.views-slideshow-pager-fields .active .dot {
  background-position: -3px 0;
}

/**
 * Homepage carousel.
 */
.view-carousels ul {
  list-style-type: none;
}
.view-carousels .item-list ul li {
  margin: 0 12px 0 0;
  width: 221px;
}
.view-carousels .carousel-image {
  height: 221px;
  overflow: hidden;
  position: relative;
  width: 221px;
}
.view-carousels .carousel-image-normal,
.view-carousels .carousel-image-hover {
  left: 0;
  position: absolute;
  top: 0;
}
.view-carousels .carousel-image-normal {
  z-index: 100;
}
.view-carousels .carousel-image-hover {
  z-index: 99;
}
.view-carousels li:hover .carousel-image-hover {
  z-index: 101;
}
.view-carousels .carousel-footer a {
  background: #1d1d1d;
  display: block;
  font-size: 16px;
  font-weight: bold;
  line-height: 32px;
  padding: 1px 0 0 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
/*
.view-carousels .carousel-footer a:hover {
  color: #ffffff;
}
*/
.view-carousels .jcarousel-clip {
  overflow: hidden;
  padding: 10px;
  width: 920px;
}
.view-carousels .jcarousel-next-horizontal,
.view-carousels .jcarousel-prev-horizontal {
  cursor: pointer;
  height: 46px;
  position: absolute;
  top: 114px;
  width: 44px;
}
.view-carousels .jcarousel-next-horizontal {
  background: url('../images/btn_nextprev.png') -44px 0 no-repeat;
  right: -47px;
}
.view-carousels .jcarousel-prev-horizontal {
  background: url('../images/btn_nextprev.png') -44px -44px no-repeat;
  left: -47px;
}
.view-carousels .jcarousel-next-horizontal:hover {
  background-position: 0 0;
}
.view-carousels .jcarousel-prev-horizontal:hover {
  background-position: 0 -44px;
}
.view-carousels .jcarousel-prev-disabled-horizontal,
.view-carousels .jcarousel-prev-disabled-vertical {
  display: none !important;
}

/**
 * Gallery overview.
 */
.gallery-wrapper {
  overflow: hidden;
  padding-top:12px;
}
.gallery-wrapper .views-row {
  display: block;
  float: left;
  margin: 0 12px 12px 0;
  width: 221px;
}
.gallery-wrapper .views-row:nth-child(4) {
  margin-right: 0;
}
.gallery-wrapper .views-row a,
.gallery-wrapper .views-row img {
  display: block;
  text-decoration: none;
}
.gallery-wrapper .views-row a div {
  background: #1d1d1d;
  display: block;
  font-size: 16px;
  font-weight: bold;
  line-height: 32px;
  padding: 1px 0 0 0;
  text-align: center;
  text-transform: uppercase;
}

.gallery-wrapper .pager a{
  text-decoration:none;
}

/**
 * Album carousel
 */
.view-album-carousel ul {
  list-style-type: none;
}
.view-album-carousel li {
  height: 223px;
  width: 222px;
}
.view-album-carousel ul li {
  margin: 0 5px;
}
.view-album-carousel .carousel-image {
  height: 223px;
  overflow: hidden;
  position: relative;
  width: 222px;
}
.view-album-carousel .jcarousel-clip {
  overflow: hidden;
  padding: 12px 0;
  width: 920px;
}
.view-album-carousel .jcarousel-next-horizontal {
  background: url('../images/btn_nextprev.png') -44px 0 no-repeat;
  cursor: pointer;
  height: 46px;
  position: absolute;
  right: -67px;
  top: 110px;
  width: 44px;
}
.view-album-carousel .jcarousel-prev-horizontal {
  background: url('../images/btn_nextprev.png') -44px -44px no-repeat;
  cursor: pointer;
  height: 46px;
  left: -52px;
  position: absolute;
  top: 110px;
  width: 44px;
}
.view-album-carousel .jcarousel-next-horizontal:hover {
  background-position: 0 0;
}
.view-album-carousel .jcarousel-prev-horizontal:hover {
  background-position: 0 -44px;
}
.view-album-carousel .jcarousel-prev-disabled-horizontal,
.view-album-carousel .jcarousel-prev-disabled-vertical {
  display: none !important;
}

/**
 * Events.
 */
.pane-views-events-block .views-row {
  border-top: 1px solid #383838;
  padding: 12px 0;
}
.pane-views-events-block .views-row:first-child {
  border-top: none;
  padding: 0 0 12px 0;
}

.view-events{
  padding-top:12px;
}
.events-page .views-row {
  border-bottom: 1px solid #383838;
  overflow: hidden;
}

.calendar-calendar .month-view .full tr td.single-day.today {
    border-bottom: 2px solid #0081FF;
}

.calendar-calendar .month-view .full tr td.today, .calendar-calendar .month-view .full tr.odd td.today, .calendar-calendar .month-view .full tr.even td.today {
    background: none repeat scroll 0 0 transparent;
    border-left: 2px solid #0081FF;
    border-right: 2px solid #0081FF;
}

.calendar-calendar .month-view .full td.date-box.today {
    border-color: #0081FF;
}

.view .date-nav-wrapper .date-prev,
.view .date-nav-wrapper .date-next {
    background: #0081FF;
}
.calendar-calendar .month-view .full td.single-day div.monthview, .calendar-calendar .week-view .full td.single-day div.weekview, .calendar-calendar .day-view .full td.single-day div.dayview {
  background:#3C3C3C;
}

#block-views-events-extra-info{
  float:right;
  background:#1D1D1D;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  padding:10px 25px;
  margin:25px 10px;
}

.node-events .field-name-field-event-image {
  float:left;
  padding-right:12px;
}

#block-views-events-extra-info .views-field{
  padding-bottom:12px;
}

.view .date-nav-wrapper .date-heading{
text-align: left;
}

.view .date-nav{
  padding-bottom:5px;
}

/**
 * Contact
 */
#googlemaps{
  float:right;
  padding-right: 20px;
}
#googlemaps a{
  color:#fff;
}

.webform-client-form textarea{
  width:447px;
}

.webform-client-form input.form-text,
.webform-client-form select{
  height:auto;
}

#webform-component--verplicht-in-te-vullen{
 font-style: italic;
}

/**
 * Footer like.
 */

#footer .addthis_toolbox{
  float:right;
  margin-top:-20px;
}

#titlebox .addthis_toolbox{
  float:right;
  margin-top:-39px;
}
